html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

img {
  display: block;
}

p {
  margin: 0;
}

.input-form, .auth-input, .auth-input-error {
  height: 60px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--Grayscale-White, #fff);
  padding: 0 16px;
  line-height: 100%; /* 36px */
  color: #252525;
}
@media screen and (max-width: 1600px) {
  .input-form, .auth-input, .auth-input-error {
    height: 54px;
  }
}
.input-form:focus, .auth-input:focus, .auth-input-error:focus {
  border-color: #00B26B !important;
}
.input-form ::placeholder, .auth-input ::placeholder, .auth-input-error ::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 405;
  font-weight: 300;
}

.parent-input-form {
  height: 60px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--Grayscale-White, #fff);
  padding: 0 16px;
  line-height: 100%; /* 36px */
  color: #252525;
}
.parent-input-form:focus {
  border-color: #00B26B !important;
}
.parent-input-form ::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 405;
  font-weight: 300;
}

.auth {
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: end;
}
.auth-title {
  margin: 60px 0;
}
@media screen and (max-width: 1600px) {
  .auth-title {
    margin: 40px 0;
  }
}
.auth-wrapper {
  background-color: #ffffff;
  border-radius: 40px;
  padding: 48px 80px;
  width: 640px;
  margin: 20px 20px 20px 0;
  min-height: calc(100vh - 40px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1600px) {
  .auth-wrapper {
    padding: 20px 50px;
    width: 500px;
  }
}
.auth-input-error {
  border: 2px solid #f74a4a;
}
.auth-forgot-password {
  display: flex;
  justify-content: end;
}
.auth-forgot-password-link:hover {
  color: #FF9800;
}
.auth .btn-register:hover {
  color: #00B26B;
}
.auth .btn-back:hover {
  text-decoration: none;
  color: #252525;
}
.auth .otp-input {
  border-radius: 12px;
  font-size: 36px;
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--Grayscale-White, #fff);
  padding: 0 16px;
  font-weight: 300;
  line-height: 100%; /* 36px */
  width: 80px;
  height: 80px;
  margin: 0 10px;
  text-align: center;
  cursor: not-allowed;
  pointer-events: none;
}
.auth .otp-input:focus {
  border: 3px solid #00B26B;
  outline: none;
}
.auth .otp-input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}

.heading-h0 {
  font-size: 160px;
  font-weight: 900;
  line-height: 100%;
}

.heading-points-m {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
}

.heading-h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
}

.heading-h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
}

.heading-h3 {
  font-size: 32px;
  font-weight: 800;
  line-height: 100%;
}

.heading-h4 {
  font-size: 28px;
  font-weight: 800;
  line-height: 100%;
  font-family: Nunito;
}

.button-l, .lesson-practice-left-table-row, .lesson-practice-left-table-right-row, .lesson-practice-right-table-row {
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
}

.button-m {
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
}

.button-s {
  font-size: 18px;
  font-weight: 800;
  line-height: 100%;
}

.button-xs {
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
}

.body-l {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.body-m {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}
@media screen and (max-width: 780px) {
  .body-m {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
  }
}

.body-s {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.body-xs {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.body-xxs {
  font-size: 14px;
  font-weight: 500;
}

.caption-l {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.caption-m {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.caption-s {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.caption-xs {
  font-size: 16px;
  font-weight: 700;
}

.caption-xxs {
  font-size: 14px;
  font-weight: 700;
}

.text-40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
}

.game-b-l {
  -webkit-text-stroke-width: 8;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
}

.game-sb-xxs {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

/* Drop Shadows */
.drop-shadow-button-l {
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.25), inset 0px -4px 0 rgba(0, 0, 0, 0.1);
}

.drop-shadow-button-d, .layout-sidebar-item.active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px -4px 0 rgba(0, 0, 0, 0.1);
}

.drop-shadow-button-u {
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.drop-shadow-ava {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Background Blurs */
.bg-blur-40 {
  backdrop-filter: blur(40px);
}

.bg-blur-60 {
  backdrop-filter: blur(60px);
}

/* Layer Blurs */
.layer-blur-highlight {
  filter: blur(100px);
  backdrop-filter: blur(100px);
}

.layer-blur-4 {
  filter: blur(4px);
}

/* Inner Blurs */
.inner-blur-inner-x4-b0-20 {
  box-shadow: inset 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.inner-blur-inner-b2-50 {
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.inner-blur-inner-b4-20, .lesson-practice-left-table-row, .lesson-practice-left-table-right-row, .lesson-practice-right-table-row {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.inner-blur-inner-b8-60 {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.inner-blur-inner-b8-60-not-top {
  box-shadow: inset 0px -8px 8px rgba(0, 0, 0, 0.6), inset 8px 0px 8px rgba(0, 0, 0, 0.6), inset -8px 0px 8px rgba(0, 0, 0, 0.6); /* Left */
}

.btn {
  position: relative;
  display: flex;
  height: 60px;
  padding: 0px 20px 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  border-radius: 20px;
  /* Drop Shadow/Button D */
  box-shadow: 0px -6px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.btn:hover {
  opacity: 0.85;
}
.btn:active:after {
  box-shadow: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.btn:active {
  top: 2px;
  box-shadow: none;
}

.btn-animation {
  position: relative;
}
.btn-animation:hover {
  opacity: 0.85;
}
.btn-animation:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.btn-animation:active {
  top: 2px;
  box-shadow: none;
}

.button-link-white:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.button-link-black:hover {
  text-decoration: none;
  color: #252525;
}

.btn.disabled {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
}

.button-primary {
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.button-shadow {
  border-radius: 20px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.button-primary-1 {
  border-radius: 20px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.zoom-in-out {
  animation: zoom-in-zoom-out 2s ease infinite;
}

.zoom-in-out-with-opacity {
  animation: zoom-in-zoom-out-with-opacity 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(106%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes zoom-in-zoom-out-with-opacity {
  0% {
    transform: scale(100%);
    opacity: 0;
  }
  50% {
    transform: scale(106%);
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    opacity: 0;
  }
}
.avatar-bg {
  background-color: white;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  position: relative;
}
.avatar-label {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  padding: 0 8px;
  border-radius: 24px;
  height: 24px;
  font-weight: 700;
  color: #252525;
}

.parent-zoom {
  zoom: 0.84;
}
@media screen and (max-width: 1600px) {
  .parent-zoom {
    zoom: 0.75;
  }
}

.parent-zoom-1 {
  zoom: 0.82;
}
@media screen and (max-width: 1600px) {
  .parent-zoom-1 {
    zoom: 0.63;
  }
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.class {
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  .class {
    height: calc(100vh - 100px);
  }
}
.class-header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .class-header {
    height: 100px;
  }
}
.class-btn-unit {
  display: flex;
  align-items: center;
  border: 2px solid #00B26B;
  border-radius: 12px;
  height: 40px;
}
.class-btn-unit-l {
  background-image: url(/public/images/class-btn-unit.svg);
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.class-btn-unit-r {
  padding-left: 12px;
  padding-right: 16px;
}

.button-unit {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  padding: 0;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #00B26B;
}
.button-unit .left-part {
  background-color: #00B26B;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  padding: 0 12px;
  height: 100%;
  color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.button-unit .right-part {
  background-color: white;
  padding: 0 12px;
  color: #252525;
  flex: 1;
}

.level-button-unit {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  padding: 0;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #D8EDDD;
}
.level-button-unit .level-left-part {
  background-color: #D8EDDD;
  background-size: cover;
  padding: 0 12px;
  height: 100%;
  color: black;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.level-button-unit .level-right-part {
  padding: 0 12px;
  color: #252525;
  background-color: transparent;
  flex: 1 1 0%;
  text-align: left;
}

.student-images {
  width: 376px;
  max-height: calc(100vh - 140px);
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 1600px) {
  .student-images {
    width: 276px;
  }
}

.student-card {
  width: 100%;
  border-radius: 16px;
  position: relative;
}
.student-card-image {
  border-radius: 16px;
  width: 100%;
  height: calc((100vh - 80px - 128px - 16px) / 2);
  object-fit: cover;
}
.student-card-desc {
  position: absolute;
  padding: 0 16px 16px 16px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 16px;
}
.student-card-small {
  width: 100%;
  height: calc((100vh - 120px - 20px) / 4);
  border-radius: 16px;
  position: relative;
  flex: 1;
  padding-bottom: 18px;
}
@media screen and (max-width: 1600px) {
  .student-card-small {
    height: calc((100vh - 130px - 20px) / 4);
    padding-bottom: 10px;
  }
}
.student-card-small-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat {
  display: none;
  max-height: calc(100vh - 140px);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 20px;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.chat-body {
  max-height: calc(100vh - 300px);
  height: 100%;
  overflow: auto;
  padding: 20px;
}
.chat-footer {
  height: 100px;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #D8EDDD;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-message-content {
  border-radius: 20px;
  padding: 0 20px;
  max-width: 238px;
  min-height: 60px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #252525;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1600px) {
  .chat-message-content {
    padding: 0 12px;
    min-height: 40px;
    border-radius: 12px;
  }
}

.vertical-carousel {
  position: relative;
  width: 376px;
  max-height: calc(100vh - 140px);
  height: 100%; /* Adjust height as needed */
  overflow: hidden; /* Hide overflow */
}
@media screen and (max-width: 1600px) {
  .vertical-carousel {
    width: 276px;
  }
}

.carousel-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  transition: transform 0.5s ease; /* Smooth transition */
}

/* Adjust button styles */
.carousel-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  border: none;
  padding: 0 30px;
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  .carousel-button {
    padding: 0 15px;
  }
}
.carousel-button-icon {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 1600px) {
  .carousel-button-icon {
    width: 20px;
    height: 20px;
  }
}

.prev {
  top: 0; /* Position above carousel */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (max-width: 1600px) {
  .prev {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.next {
  bottom: 0; /* Position below carousel */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
@media screen and (max-width: 1600px) {
  .next {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.project {
  background-color: #D8EDDD;
  height: 100%;
  width: 100%;
  padding: 0 80px;
}
.project-content {
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
@media screen and (max-width: 1600px) {
  .project-content {
    padding: 30px;
  }
}
.project-header {
  padding: 56px 0;
  display: flex;
  align-items: center;
}
.project-header-button {
  cursor: pointer;
}
.project-header-tab {
  flex: 1 1 0%;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  height: 90px;
  padding: 8px;
}
.project-header-tab-item, .project-header-tab-item-active {
  flex: 1 1 0%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #252525;
}
.project-header-tab-item-active {
  background-color: #00B26B;
  border-radius: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.project-info-tag {
  border-radius: 40px;
  background-color: white;
  height: 40px;
  padding: 12px;
  margin-right: 12px;
  color: #252525;
}
.project-body {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
  margin: 36px 0;
}
@media screen and (max-width: 1600px) {
  .project-body {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.project-card {
  width: 100%;
  border-radius: 16px;
  padding: 8px;
  background-color: #fff;
}
.project-card-image {
  width: 100%;
  height: 292px;
  object-fit: cover;
}
.project-card-status {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.project-card-button {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  width: fit-content;
  padding: 0;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #00B26B;
}
.project-card-button-left-part {
  background-size: cover;
  padding: 0 8px;
  height: 100%;
  color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.project-card-button-right-part {
  background-color: white;
  padding: 0 12px;
  color: #252525;
  flex: 1;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-upload {
  background: linear-gradient(to top, #717bff 0%, #6d99e2 23%, #6abebf 56%, #67d4aa 83%, #67dda3 100%);
  padding: 36px;
}
@media screen and (max-width: 1600px) {
  .project-upload {
    padding: 20px;
  }
}
.project-upload-header {
  justify-content: space-between;
  height: 120px;
}
@media screen and (max-width: 1600px) {
  .project-upload-header {
    height: 92px;
  }
}
.project-upload-body {
  display: flex;
  align-items: center;
  gap: 40px;
}
.project-upload-body-title {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  align-items: center;
}
.project-upload-body-left {
  flex: 1 1 0%;
  flex-direction: column;
  height: calc(100vh - 388px);
}
@media screen and (max-width: 1600px) {
  .project-upload-body-left {
    height: calc(100vh - 308px);
  }
}
.project-upload-body-left-zone {
  border-radius: 40px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
}
.project-upload-body-right {
  flex: 1 1 0%;
}
.project-upload-body-right-files {
  height: calc(100vh - 530px);
  overflow-y: scroll;
}
@media screen and (max-width: 1600px) {
  .project-upload-body-right-files {
    height: calc(100vh - 450px);
  }
}
.project-upload-body-right-card-upload-slider {
  height: 24px;
  padding: 2px;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}
.project-upload-image {
  aspect-ratio: 843/632;
  object-fit: cover;
  border-radius: 18px;
  height: 100%;
}
.project-upload-image-oops {
  height: calc(100vh - 510px);
  object-fit: cover;
}
@media screen and (max-width: 1600px) {
  .project-upload-image-oops {
    height: calc(100vh - 430px);
  }
}
.project-upload-wrapper-image {
  height: calc(100vh - 430px);
}
@media screen and (max-width: 1600px) {
  .project-upload-wrapper-image {
    height: calc(100vh - 350px);
  }
}

.teacher-left {
  flex: 1 1 0%;
}
.teacher-right {
  flex: 1 1 0%;
}

@media screen and (max-width: 1800px) {
  .lesson-learned-buttons {
    transform: scale(0.9);
  }
}

.lesson-body {
  height: calc(100vh - 332px);
  padding-bottom: 40px;
}
@media screen and (max-width: 1600px) {
  .lesson-body {
    height: calc(100vh - 252px);
    transform: scale(0.8);
    padding-bottom: 20px;
  }
}

.lesson-videos {
  height: calc(100vh - 372px);
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .lesson-videos {
    height: calc(100vh - 292px);
  }
}

.lesson-video {
  background-color: rgba(0, 0, 0, 0.2);
  height: calc(100vh - 372px);
  aspect-ratio: 16/9;
  border-radius: 20px;
}
@media screen and (max-width: 1600px) {
  .lesson-video {
    height: calc(100vh - 292px);
  }
}

.lesson-incoming-body {
  height: calc(100vh - 332px);
  padding-bottom: 40px;
}
@media screen and (max-width: 1600px) {
  .lesson-incoming-body {
    height: calc(100vh - 252px);
    transform: scale(0.78);
    padding-bottom: 20px;
  }
}

.lesson-practice-header {
  margin-bottom: 40px;
}
@media screen and (max-width: 1600px) {
  .lesson-practice-header {
    margin-bottom: 20px;
  }
}

.lesson-practice-body {
  margin: 0 110px;
  gap: 30px;
}
@media screen and (max-width: 1600px) {
  .lesson-practice-body {
    gap: 20px;
    margin: 0;
  }
}

.lesson-practice-left-up {
  gap: 30px;
  display: flex;
}
@media screen and (max-width: 1600px) {
  .lesson-practice-left-up {
    gap: 20px;
  }
}
.lesson-practice-left-table {
  margin-top: 30px;
  height: 189px;
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .lesson-practice-left-table {
    margin-top: 20px;
  }
}
.lesson-practice-left-table-row {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  color: #252525;
  height: 48px;
  padding-right: 20px;
}
.lesson-practice-left-table-right-row {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  color: #252525;
  height: 60px;
  padding-right: 20px;
}

.lesson-practice-right-table {
  height: 255px;
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .lesson-practice-right-table {
    height: 255px;
  }
}
.lesson-practice-right-table-row {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  color: #252525;
  height: 60px;
  padding-right: 20px;
}

@media screen and (max-width: 1600px) {
  .lesson-practice-content {
    transform: scale(0.75);
    height: calc(100vh - 152px);
    margin-top: -40px;
  }
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.85;
}
@media screen and (max-width: 1600px) {
  .slider-wrapper {
    zoom: 0.65;
  }
}

.slider-wrapper-try-study {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.85;
}
@media screen and (max-width: 1600px) {
  .slider-wrapper-try-study {
    zoom: 0.75;
  }
}

.slider {
  display: flex;
  cursor: grab;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider:active {
  cursor: grabbing;
}

.slider,
.slide {
  user-select: none; /* Prevent text and image selection */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  margin: auto;
  flex-shrink: 0;
  margin-right: 80px;
  height: 780px;
  position: relative;
}

.lesson-slide {
  margin: auto;
  flex-shrink: 0;
  margin-right: 40px;
  height: 636px;
  width: 320px;
  position: relative;
}

.slide:last-child {
  margin-right: 3rem;
}

.select-none {
  user-select: none;
}

.select-none-img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.home {
  background: linear-gradient(to top, #717bff 0%, #6d99e2 23%, #6abebf 56%, #67d4aa 83%, #67dda3 100%);
  height: 100vh;
  position: relative;
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 1600px) {
  .home-header {
    padding: 20px;
    zoom: 0.75;
  }
}
.home-header-info-box, .home-header-dropdown-try-study {
  display: flex;
  justify-content: end;
  background-color: transparent;
}
.home-header-dropdown {
  border-radius: 20px;
  padding: 32px;
  top: 0 !important;
  right: 0 !important;
  width: max-content !important;
}
@media screen and (max-width: 1600px) {
  .home-header-dropdown {
    left: -682px !important;
  }
}
@media screen and (max-width: 1600px) {
  .home-header-dropdown-try-study {
    left: -732px !important;
  }
}
.home-header-dropdown-avatars {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 4px;
}

.line-to-bottom {
  position: absolute;
  top: 200px;
  left: 200px;
}

.lesson-line-to-bottom {
  position: absolute;
  top: 100px;
  left: 200px;
}

.line-to-top {
  position: absolute;
  bottom: 200px;
  left: 200px;
}

.button-hover {
  color: white;
}
.button-hover:hover {
  color: white;
  text-decoration: none;
}

.uk-modal-dialog {
  width: 920px !important;
  height: calc(100vh - 80px);
}
.uk-modal-dialog.parent-class {
  width: 830px !important;
  height: fit-content;
}
.uk-modal-dialog.parent-recommend-friend {
  width: 830px !important;
  height: auto;
}
.uk-modal-dialog.modal-teacher {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.uk-modal-body {
  padding: 40px !important;
}

.uk-modal {
  padding: 40px !important;
}

@media screen and (max-width: 1600px) {
  .level-modal {
    zoom: 0.85;
  }
}
.level-modal-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
}
.level-modal-content-description {
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  max-height: calc(100vh - 428px);
  overflow-y: auto;
}
.level-modal-content-left {
  width: 100%;
}
.level-modal-content-right {
  width: 100%;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}
.level-modal-tags {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}
.level-modal-tag {
  height: 148px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout {
  background-color: #d8eddd;
  display: flex;
  height: 100vh;
}
.layout-sidebar {
  width: 120px;
  padding-top: 40px;
  zoom: 0.85;
}
@media screen and (max-width: 1600px) {
  .layout-sidebar {
    zoom: 0.65;
  }
}
.layout-sidebar-item {
  text-decoration: none !important;
  color: #252525;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 120px;
}
.layout-sidebar-item:hover {
  color: #252525;
}
.layout-sidebar-item.active {
  color: #FFFFFF;
  background-color: #00B26B;
}
.layout-sidebar-item.active:hover {
  color: #FFFFFF;
}
.layout-content {
  display: flex;
  flex: 1 1 0%;
  margin: 20px 20px 20px 0;
  border-radius: 28px !important;
  background: linear-gradient(0deg, var(--Grayscale-Dim-Dark-5, rgba(0, 0, 0, 0.05)) 0%, var(--Grayscale-Dim-Dark-5, rgba(0, 0, 0, 0.05)) 100%), var(--Grayscale-White, #fff);
}
@media screen and (max-width: 1600px) {
  .layout-content {
    margin: 16px 16px 16px 0;
  }
}

.parent-box {
  padding: 20px;
  border-radius: 20px;
}
@media screen and (max-width: 1600px) {
  .parent-box {
    padding: 16px;
  }
}

.dashboard {
  display: flex;
}
.dashboard-left {
  flex: 1 1 0%;
}
.dashboard-right {
  width: 560px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
}
.dashboard-right-content {
  padding: 20px;
}
.dashboard-feedback {
  width: 1280px;
  max-height: calc(100vh - 420px);
  height: 100%;
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .dashboard-feedback {
    max-height: calc(100vh - 314px);
    height: 100%;
  }
}
.dashboard-feedback-layout {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 40px;
  row-gap: 20px;
}

.progress {
  border-radius: 20px;
  border: 1px solid var(rgba(0, 0, 0, 0.05));
  background: var(rgba(0, 0, 0, 0.05));
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  height: 60px;
  padding: 4px 120px 4px 4px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  position: relative;
}
.progress-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  /* Heading/H3 */
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 32px */
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
}
.progress-active {
  border-radius: 16px;
  background: #FF9800;
  width: 356px;
  height: 52px;
  flex-shrink: 0;
  /* Drop Shadow/Button D */
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 16px;
}

.combo-input {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 40px;
}

.avatar-rounded {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.image-teacher {
  height: calc(119.0476190476vh - 476px);
}
@media screen and (max-width: 1600px) {
  .image-teacher {
    height: calc(153.8461538462vh - 476px);
  }
}

.certificate-wrapper-image {
  height: calc(100vh - 260px);
}
@media screen and (max-width: 1600px) {
  .certificate-wrapper-image {
    height: calc(100vh - 152px);
  }
}

.certificate-image {
  aspect-ratio: 843/632;
  object-fit: cover;
  border-radius: 18px;
  height: 100%;
}

.image-share {
  object-fit: cover;
  aspect-ratio: 1/1;
}
@media screen and (max-width: 1600px) {
  .image-share {
    aspect-ratio: auto;
  }
}

#scroll-hide::-webkit-scrollbar {
  display: none;
}

.coming-class {
  overflow-y: auto;
  max-height: calc(100vh - 128px);
  padding-top: 40px;
}
@media screen and (max-width: 1600px) {
  .coming-class {
    max-height: calc(100vh - 106px);
    padding-top: 28px;
  }
}

.choose-package {
  overflow-y: auto;
  padding-top: 40px;
  max-height: calc(100vh - 78px);
}
@media screen and (max-width: 1600px) {
  .choose-package {
    max-height: 100vh;
    padding-top: 28px;
  }
}

#tab-coming-content::-webkit-scrollbar,
#tab-completed-content::-webkit-scrollbar,
#dashboard-feedback::-webkit-scrollbar,
#tab-canceled-content::-webkit-scrollbar {
  display: none;
}

.teacher-image {
  height: fit-content;
  width: fit-content;
  border-radius: 16px;
  border: 2px solid transparent; /* Move the border to the img element */
  transition: border-color 0.3s ease;
}

.teacher-image input[type=radio] {
  display: none;
}

.teacher-image.active {
  border-color: #00b26b; /* Apply the border color to the img */
}

.teacher-time {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 24px;
  width: 76px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.teacher-time.active {
  background-color: #00b26b; /* Apply the border color to the img */
  color: white;
}
.teacher-time input[type=radio] {
  display: none;
}

.modal-link {
  text-decoration: underline !important;
}
.modal-link:hover {
  color: #00b26b;
}

#chon-goi-hoc::-webkit-scrollbar {
  display: none;
}

.learning-progress {
  max-width: 1410px;
  width: 100%;
  height: calc(100vh - 80px);
}
.learning-progress > :not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 1600px) {
  .learning-progress {
    zoom: 0.8;
  }
  .learning-progress > :not(:last-child) {
    margin-bottom: 12px;
  }
}
.learning-progress-summary {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 16px;
}
.learning-progress-activity {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}
.learning-progress-activity-first {
  grid-column: span 2/span 2;
}

.learning-progress-zoom {
  zoom: 0.91;
}
@media screen and (max-width: 1600px) {
  .learning-progress-zoom {
    zoom: 0.92;
  }
}

.teacher-stats .teacher-row {
  display: flex;
  align-items: center;
}
.teacher-stats .teacher-row .teacher-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.teacher-stats .teacher-row .teacher-name {
  color: var(--Grayscale-Dark-Gray, #252525);
  text-align: start;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  width: 76px;
  line-height: 100%; /* 18px */
}
.teacher-stats .teacher-row .progress-bar {
  flex: 1;
  height: 40px;
  border-radius: 8px;
  position: relative;
}
.teacher-stats .teacher-row .progress-bar .bar {
  height: 100%;
  border-radius: 10px;
  background: #ff9900;
  width: calc(var(--bar-value) / 20 * 100%);
  text-align: right;
  padding-right: 8px;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.parent-recommend-friend-content {
  height: calc(100vh - 274px);
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .parent-recommend-friend-content {
    height: calc(100vh - 174px);
  }
}

#parent-recommend-friend-content::-webkit-scrollbar {
  display: none;
}

.recommend-history {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: middle;
  justify-content: space-around;
}
.recommend-history-item {
  width: calc(50% - 20px);
}

.study-package {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: middle;
  justify-content: space-around;
}
.study-package-item {
  width: calc(50% - 20px);
  border: 4px solid transparent;
  min-height: 240px;
}
.study-package-item.active {
  border-color: #00b26b;
}

.pay-button {
  margin-top: 80px;
}
@media screen and (max-width: 1600px) {
  .pay-button {
    margin-top: 40px;
  }
}

.custom-radio {
  accent-color: green;
}

.payment-card {
  display: grid;
  grid-template-columns: 120px repeat(2, 1fr);
  gap: 20px 40px;
  padding: 8px;
  background-color: white;
  border-radius: 20px;
}

.support-padding {
  padding: 40px;
}
@media screen and (max-width: 1600px) {
  .support-padding {
    padding: 26px;
  }
}

.support-spacing > :not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (max-width: 1600px) {
  .support-spacing > :not(:last-child) {
    margin-bottom: 20px;
  }
}

.support-gap {
  gap: 40px;
}
@media screen and (max-width: 1600px) {
  .support-gap {
    gap: 20px;
  }
}

.support-zoom {
  zoom: 0.9;
}
@media screen and (max-width: 1600px) {
  .support-zoom {
    zoom: 0.74;
  }
}

.uk-accordion-title:before {
  background-image: url("../public/icons/arrow-down1.svg") !important;
}

.uk-open .uk-accordion-title:before {
  background-image: url("../public/icons/arrow-up.svg") !important;
}

.faq-height {
  max-height: calc(100vh - 134px);
  height: 100%;
  overflow-y: auto;
}
@media screen and (max-width: 1600px) {
  .faq-height {
    max-height: calc(100vh + 30px);
    height: 100%;
  }
}

#faq-height::-webkit-scrollbar {
  display: none;
}

.chat-active::after {
  content: "";
  width: 8px; /* Size of the green dot */
  height: 8px; /* Size of the green dot */
  background-color: #00B26B; /* Green color for online status */
  border-radius: 50%; /* Makes it circular */
  position: absolute;
  bottom: 4px; /* Position at the bottom of the avatar */
  right: -12px; /* Position at the right of the avatar */
}

.parent-chat {
  max-height: calc(100vh - 120px);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 20px;
}
.parent-chat-sidebar {
  width: 540px;
}
@media screen and (max-width: 1600px) {
  .parent-chat-sidebar {
    width: 380px;
  }
}
.parent-chat-sidebar-user-list {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.parent-chat-input {
  height: 60px;
}
@media screen and (max-width: 1600px) {
  .parent-chat-input {
    height: 54px !important;
  }
}
@media screen and (max-width: 1600px) {
  .parent-chat {
    max-height: calc(100vh - 110px);
    overflow-y: auto;
  }
}
.parent-chat-wrapper {
  padding: 40px;
}
@media screen and (max-width: 1600px) {
  .parent-chat-wrapper {
    padding: 0px;
  }
}
.parent-chat-body {
  max-height: calc(100vh - 280px);
  height: 100%;
  overflow: auto;
  padding: 20px;
}
@media screen and (max-width: 1600px) {
  .parent-chat-body {
    max-height: calc(100vh - 274px);
  }
}

#parent-chat-sidebar-user-list::-webkit-scrollbar {
  display: none;
}

.parent-chat-zoom {
  zoom: 0.94;
}
@media screen and (max-width: 1600px) {
  .parent-chat-zoom {
    zoom: 0.8;
  }
}

.try-learning {
  background-image: url(/public/images/try-learning.svg);
  height: 100vh;
  position: relative;
}

.device-box {
  margin-bottom: 0;
}
.device-box.hidden {
  display: none;
}

.lesson-modal {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px) !important;
}

.congrats-modal {
  height: calc(100vh - 200px);
  width: calc(100vw - 80px) !important;
}
@media screen and (max-width: 1600px) {
  .congrats-modal {
    height: calc(100vh - 120px);
    width: calc(100vw - 40px) !important;
  }
}
@media screen and (max-width: 1600px) {
  .congrats-modal-wrapper {
    padding: 20px !important;
  }
}

/* Slideshow container */
.slideshow-container {
  height: calc(100vh - 240px);
  position: relative;
  margin: auto;
}

.lesson-slice {
  aspect-ratio: 16/9;
  object-fit: cover;
  height: calc(100vh - 240px);
  border-radius: 24px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.congrats {
  background-image: url(/public/images/try-learning.svg);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: end;
  padding: 100px 120px 0 0;
  overflow: hidden;
  background-position: center;
}
@media screen and (max-width: 1600px) {
  .congrats {
    padding: 40px 70px 0 0;
  }
}
.congrats-letter {
  width: fit-content;
  zoom: 0.82;
  position: relative;
}
@media screen and (max-width: 1600px) {
  .congrats-letter {
    zoom: 0.7;
  }
}
@media screen and (max-width: 780px) {
  .congrats-letter {
    zoom: 0.7;
    width: 100%;
    background-image: url(/public/images/result1-bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 0 104px 40px;
  }
}
@media screen and (max-width: 768px) {
  .congrats-letter-wrapper {
    padding-bottom: 0 !important;
  }
}
.congrats-letter-content {
  padding-top: 200px;
}
@media screen and (max-width: 1600px) {
  .congrats-letter-content {
    padding-top: 170px;
  }
}
@media screen and (max-width: 768px) {
  .congrats-letter-content {
    padding-top: 107px;
  }
}
@media screen and (min-width: 768px) {
  .congrats-letter-content {
    position: absolute;
    left: calc(50% - var(--uk-position-margin-offset));
    --uk-position-translate-x: -50%;
    transform: translate(var(--uk-position-translate-x), 0);
    width: max-content;
    top: 0;
  }
}
.congrats-letter-tags {
  display: flex;
}
.congrats-letter-tags > :not(:last-child) {
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .congrats-letter-tags {
    display: block;
  }
  .congrats-letter-tags > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .congrats-letter-tags > div {
    width: 100% !important;
  }
}

.result-scroller section {
  min-height: 100%;
  padding: 10px;
}

.result-scroller section:nth-child(odd) {
  background-color: #ccc;
}

.result-scroller {
  overflow-y: scroll;
}

.result-scroller section {
  scroll-snap-align: start;
}

.vocab-tag {
  color: #454575;
  text-align: center;
  padding: 0 20px;
  height: 44px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  display: flex;
  align-items: center;
  margin: 4px 0;
}
@media screen and (max-width: 768px) {
  .vocab-tag {
    font-size: 16px;
  }
}

.goal-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .goal-grid {
    gap: 8px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 768px) {
  .goal-grid > div {
    padding: 8px;
  }
}
.goal-grid-item-3 {
  grid-column: span 3/span 3;
}
.goal-grid-item-2 {
  grid-column: span 2/span 2;
}

.goal-content-width {
  width: 670px;
}
@media screen and (max-width: 1600px) {
  .goal-content-width {
    width: 540px;
  }
}
@media screen and (max-width: 768px) {
  .goal-content-width {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .result-embed {
    zoom: 0.8;
  }
}
.result-embed-header {
  padding: 40px;
}
@media screen and (max-width: 1600px) {
  .result-embed-header {
    padding: 20px;
  }
}

.result-sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (max-width: 1080px) {
  .result-sidebar {
    display: none;
  }
}
.result-sidebar a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #252525;
  font-size: 20px;
  padding: 0 40px;
  height: 80px;
  width: 100%;
  display: flex;
}
.result-sidebar a > img {
  display: none;
}

.share-button {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 999;
  padding: 12px 24px;
}
@media screen and (min-width: 1080px) {
  .share-button {
    display: none;
  }
}
.share-button > button {
  max-width: 327px;
  width: 100% !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.result-sidebar {
  width: 451px;
  height: 100vh;
}
.result-header-1 {
  display: none;
}
@media screen and (max-width: 1080px) {
  .result-header-1 {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: var(--Gradient-Gradient-3, linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 251, 0, 0.5) 100%));
    backdrop-filter: blur(30px);
    color: var(--Grayscale-Dark-Gray, #252525);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 18px */
  }
}
.result-content {
  width: 100%;
  max-height: 100vh;
  height: 100%;
}
@media screen and (min-width: 1080px) {
  .result-content {
    overflow-y: scroll;
  }
}
.result-content-1 {
  height: 3000px;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .result-content-1 {
    padding: 0;
  }
}
.result-overal > :not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .result-overal {
    padding: 0 16px;
  }
  .result-overal > :not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.result-overal-left {
  width: 488px;
}
.result-overal-left > :not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .result-overal-left {
    width: 100%;
  }
  .result-overal-left > :not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.result-overal-left-item > :not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .result-overal-left-item {
    display: flex;
    zoom: 0.8;
  }
  .result-overal-left-item > :not(:last-child) {
    margin-right: 16px;
    margin-bottom: 0;
  }
}
.result-envelop {
  left: -22%;
  max-width: 100%;
}
@media screen and (max-width: 1600px) {
  .result-envelop {
    left: -5%;
  }
}

.result-active-link {
  font-weight: 800 !important;
  background: rgba(0, 0, 0, 0.05);
}
.result-active-link > img {
  display: block !important;
}

.try-study-result {
  margin-top: 120px;
}
@media screen and (max-width: 1600px) {
  .try-study-result {
    margin-top: 0px;
  }
}

.result-stats .result-row {
  display: flex;
  align-items: center;
}
.result-stats .result-row .result-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.result-stats .result-row .result-name {
  color: #252525;
  text-align: start;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 100px;
  line-height: 100%; /* 18px */
}
.result-stats .result-row .progress-bar {
  flex: 1;
  height: 32px;
  border-radius: 8px;
  position: relative;
}
.result-stats .result-row .progress-bar .bar {
  height: 100%;
  border-radius: 10px;
  background: #66dea4;
  width: calc(var(--bar-value) / 5 * 100%);
  text-align: right;
  padding-right: 8px;
  font-size: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.result-desktop {
  display: none;
}
@media screen and (min-width: 780px) {
  .result-desktop {
    display: block;
  }
}
.result-mobile {
  display: block;
}
@media screen and (min-width: 780px) {
  .result-mobile {
    display: none;
  }
}
.result-feedback > :not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 780px) {
  .result-feedback {
    padding: 0 24px;
    margin-bottom: 20px;
  }
  .result-feedback > :not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 780px) {
  .result-goal {
    padding: 0 24px;
  }
}
@media screen and (max-width: 780px) {
  .result-goal-zoom {
    zoom: 0.75;
  }
}
@media screen and (max-width: 780px) {
  .result-card {
    padding: 16px;
  }
}
@media screen and (max-width: 780px) {
  .result-list {
    margin-left: 20px;
  }
}
@media screen and (max-width: 780px) {
  .result-list-2 {
    padding-left: 36px;
  }
}

.header-img {
  height: 84px;
  object-fit: cover;
}
@media screen and (max-width: 780px) {
  .header-img {
    height: 44px;
    object-fit: cover;
  }
}
@media screen and (min-width: 1080px) {
  .header-img.top {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
  font-family: Nunito;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Nunito;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Scrollbar */
#project-done,
#certificate {
  overflow-x: auto;
  width: 100%;
}
#project-done::-webkit-scrollbar,
#certificate::-webkit-scrollbar {
  height: 16px;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  #project-done::-webkit-scrollbar,
  #certificate::-webkit-scrollbar {
    height: 14px;
  }
}
#project-done::-webkit-scrollbar-thumb,
#certificate::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8eddd;
}
#project-done::-webkit-scrollbar-track,
#certificate::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
}

/* Scrollbar */
#small-scroll {
  overflow-y: auto;
}
#small-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#small-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8eddd;
}
#small-scroll::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
}

#scroll-hide::-webkit-scrollbar {
  display: none;
}

#small-scroll-exception {
  overflow-y: auto;
}
#small-scroll-exception::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#small-scroll-exception::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8eddd;
}
#small-scroll-exception::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  margin: 12px 0;
}

/*# sourceMappingURL=app.css.map */
