html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p {
  margin: 0;
}

.input-form, .auth-input, .auth-input-error {
  height: 60px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--Grayscale-White, #fff);
  padding: 0 16px;
  line-height: 100%; /* 36px */
}
@media screen and (max-width: 1600px) {
  .input-form, .auth-input, .auth-input-error {
    height: 54px;
  }
}
.input-form:focus, .auth-input:focus, .auth-input-error:focus {
  border-color: #00B26B !important;
}
.input-form ::placeholder, .auth-input ::placeholder, .auth-input-error ::placeholder {
  color: rgba(0, 0, 0, 0.4);
  opacity: 405;
  font-weight: 300;
}

.auth {
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: end;
}
.auth-title {
  margin: 60px 0;
}
@media screen and (max-width: 1600px) {
  .auth-title {
    margin: 40px 0;
  }
}
.auth-wrapper {
  background-color: #ffffff;
  border-radius: 40px;
  padding: 48px 80px;
  width: 640px;
  margin: 20px 20px 20px 0;
  min-height: calc(100vh - 40px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1600px) {
  .auth-wrapper {
    padding: 20px 50px;
  }
}
.auth-input-error {
  border: 2px solid #f74a4a;
}
.auth-forgot-password {
  display: flex;
  justify-content: end;
}
.auth-forgot-password-link:hover {
  color: #FF9800;
}
.auth .btn-register:hover {
  color: #00B26B;
}
.auth .btn-back:hover {
  text-decoration: none;
  color: #252525;
}
.auth .otp-input {
  border-radius: 12px;
  font-size: 36px;
  border-radius: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: var(--Grayscale-White, #fff);
  padding: 0 16px;
  font-weight: 300;
  line-height: 100%; /* 36px */
  width: 80px;
  height: 80px;
  margin: 0 10px;
  text-align: center;
  cursor: not-allowed;
  pointer-events: none;
}
.auth .otp-input:focus {
  border: 3px solid #00B26B;
  outline: none;
}
.auth .otp-input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}

.heading-h0 {
  font-size: 160px;
  font-weight: 900;
  line-height: 100%;
}

.heading-points-m {
  font-size: 80px;
  font-family: "Grandstander";
  font-weight: 700;
  line-height: 100%;
}

.heading-h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
}

.heading-h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 100%;
}

.heading-h3 {
  font-size: 32px;
  font-weight: 800;
  line-height: 100%;
}

.heading-h4 {
  font-size: 28px;
  font-weight: 800;
  line-height: 100%;
}

.button-l {
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
}

.button-m {
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
}

.button-s {
  font-size: 18px;
  font-weight: 800;
  line-height: 100%;
}

.button-xs {
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
}

.body-l {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.body-m {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.body-s {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.body-xs {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}

.caption-l {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.caption-m {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.caption-s {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.caption-xs {
  font-size: 16px;
  font-weight: 700;
}

/* Drop Shadows */
.drop-shadow-button-l {
  box-shadow: -2px 2px 0 rgba(0, 0, 0, 0.25), inset 0px -4px 0 rgba(0, 0, 0, 0.1);
}

.drop-shadow-button-d {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px -4px 0 rgba(0, 0, 0, 0.1);
}

.drop-shadow-button-u {
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.drop-shadow-ava {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Background Blurs */
.bg-blur-40 {
  backdrop-filter: blur(40px);
}

.bg-blur-60 {
  backdrop-filter: blur(60px);
}

/* Layer Blurs */
.layer-blur-highlight {
  filter: blur(100px);
  backdrop-filter: blur(100px);
}

.layer-blur-4 {
  filter: blur(4px);
}

/* Inner Blurs */
.inner-blur-inner-x4-b0-20 {
  box-shadow: inset 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.inner-blur-inner-b2-50 {
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.inner-blur-inner-b4-20 {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.inner-blur-inner-b8-60 {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.btn {
  display: flex;
  height: 60px;
  padding: 0px 20px 4px 20px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  border-radius: 20px;
  /* Drop Shadow/Button D */
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.btn.disabled {
  background-color: #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
}

.button-primary {
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.button-primary-1 {
  border-radius: 20px;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.class {
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  width: 100%;
}
.class-btn-unit {
  display: flex;
  align-items: center;
  border: 2px solid #00B26B;
  border-radius: 12px;
  height: 40px;
}
.class-btn-unit-l {
  background-image: url(/public/images/class-btn-unit.svg);
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}
.class-btn-unit-r {
  padding-left: 12px;
  padding-right: 16px;
}

.button-unit {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  padding: 0;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #00B26B;
}
.button-unit .left-part {
  background-color: #00B26B;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  background-size: cover;
  padding: 0 12px;
  height: 100%;
  color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.button-unit .right-part {
  background-color: white;
  padding: 0 12px;
  color: #252525;
  flex: 1;
}

.student-card {
  width: 100%;
  border-radius: 16px;
  position: relative;
}
.student-card-image {
  border-radius: 16px;
  width: 100%;
  height: calc((100vh - 80px - 128px - 16px) / 2);
  object-fit: cover;
}
.student-card-desc {
  position: absolute;
  padding: 0 16px 16px 16px;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
  border-radius: 16px;
}
.student-card-small {
  width: 100%;
  height: calc((100vh - 112px - 64px) / 5);
  border-radius: 16px;
  position: relative;
  flex: 1;
}
.student-card-small-image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat {
  display: none;
  max-height: calc(100vh - 140px);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 20px;
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.chat-body {
  max-height: calc(100vh - 300px);
  height: 100%;
  overflow: auto;
  padding: 20px;
}
.chat-footer {
  height: 100px;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #D8EDDD;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.chat-message-content {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 20px;
  max-width: 238px;
  min-height: 60px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #252525;
  display: flex;
  align-items: center;
}

#vertical-slider {
  max-height: calc(100vh - 140px); /* Max height */
  height: 100%; /* Full height */
  overflow: hidden; /* Hide overflow */
  position: relative; /* For absolute positioning of buttons */
}

.uk-slider-items {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  transition: transform 0.3s ease; /* Smooth transition */
  height: 100%; /* Make items fill the height of the slider */
}

.uk-slider-items > div {
  flex: 0 0 auto; /* Prevent flex items from growing */
  height: calc(100vh - 140px); /* Each slide's height to match the slider */
}

/* Position buttons */
.uk-position-top-center,
.uk-position-bottom-center {
  position: absolute; /* Position buttons absolutely */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center correction */
}

.uk-position-top-center {
  top: 10px; /* Adjust top position */
}

.uk-position-bottom-center {
  bottom: 10px; /* Adjust bottom position */
}

.project {
  background-color: #D8EDDD;
  height: 100%;
  width: 100%;
  padding: 0 80px;
}
.project-content {
  padding: 40px;
  border-radius: 20px;
  background-color: white;
}
@media screen and (max-width: 1600px) {
  .project-content {
    padding: 30px;
  }
}
.project-header {
  padding: 56px 0;
  display: flex;
  align-items: center;
}
.project-header-button {
  cursor: pointer;
}
.project-header-tab {
  flex: 1 1 0%;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  height: 90px;
  padding: 8px;
}
.project-header-tab-item, .project-header-tab-item-active {
  flex: 1 1 0%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #252525;
}
.project-header-tab-item-active {
  background-color: #00B26B;
  border-radius: 20px;
  border-radius: 20px;
  color: white;
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.project-info-tag {
  border-radius: 40px;
  background-color: white;
  height: 40px;
  padding: 12px;
  margin-right: 12px;
  color: #252525;
}
.project-body {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 40px;
  margin: 36px 0;
}
.project-card {
  width: fit-content;
  border-radius: 16px;
  padding: 8px;
  background-color: #fff;
}
.project-card-image {
  aspect-ratio: 395/292;
  width: full;
  height: 292px;
}
.project-card-status {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.project-card-button {
  display: inline-flex;
  align-items: center;
  border-radius: 12px;
  width: fit-content;
  padding: 0;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #00B26B;
}
.project-card-button-left-part {
  background-size: cover;
  padding: 0 8px;
  height: 100%;
  color: white;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.project-card-button-right-part {
  background-color: white;
  padding: 0 12px;
  color: #252525;
  flex: 1;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-upload {
  background: linear-gradient(to top, #717bff 0%, #6d99e2 23%, #6abebf 56%, #67d4aa 83%, #67dda3 100%);
  padding: 36px;
}
@media screen and (max-width: 1600px) {
  .project-upload {
    padding: 20px;
  }
}
.project-upload-header {
  justify-content: space-between;
  height: 120px;
}
@media screen and (max-width: 1600px) {
  .project-upload-header {
    height: 92px;
  }
}
.project-upload-body {
  display: flex;
  align-items: center;
  gap: 40px;
}
.project-upload-body-title {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  display: grid;
  align-items: center;
}
.project-upload-body-left {
  flex: 1 1 0%;
  flex-direction: column;
  height: calc(100vh - 388px);
}
@media screen and (max-width: 1600px) {
  .project-upload-body-left {
    height: calc(100vh - 308px);
  }
}
.project-upload-body-left-zone {
  border-radius: 40px;
  border: 2px dashed rgba(0, 0, 0, 0.2);
}
.project-upload-body-right {
  flex: 1 1 0%;
}
.project-upload-body-right-files {
  height: calc(100vh - 530px);
  overflow-y: scroll;
}
@media screen and (max-width: 1600px) {
  .project-upload-body-right-files {
    height: calc(100vh - 450px);
  }
}
.project-upload-body-right-card-upload-slider {
  height: 24px;
  padding: 2px;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}
.project-upload-image {
  aspect-ratio: 843/632;
  object-fit: cover;
  border-radius: 18px;
  height: 100%;
}
.project-upload-image-oops {
  height: calc(100vh - 510px);
  object-fit: cover;
}
@media screen and (max-width: 1600px) {
  .project-upload-image-oops {
    height: calc(100vh - 430px);
  }
}
.project-upload-wrapper-image {
  height: calc(100vh - 430px);
}
@media screen and (max-width: 1600px) {
  .project-upload-wrapper-image {
    height: calc(100vh - 350px);
  }
}

.teacher-left {
  flex: 1 1 0%;
}
.teacher-right {
  flex: 1 1 0%;
}

@media screen and (max-width: 1800px) {
  .lesson-learned-buttons {
    transform: scale(0.9);
  }
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slider {
  display: flex;
  width: 100vw;
  cursor: grab;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider:active {
  cursor: grabbing;
}

.slider,
.slide {
  user-select: none; /* Prevent text and image selection */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  margin: auto;
  margin-left: 80px;
  flex-shrink: 0;
  width: 400px;
  height: 780px;
  position: relative;
}

.slide:last-child {
  margin-right: 3rem;
}

.select-none {
  user-select: none;
}

.select-none-img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.home {
  background: linear-gradient(to top, #717bff 0%, #6d99e2 23%, #6abebf 56%, #67d4aa 83%, #67dda3 100%);
  position: relative;
}
.home-header {
  padding: 40px;
  display: flex;
  justify-content: end;
}

html {
  scroll-behavior: smooth;
  font-family: Nunito;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Nunito;
}

/* Scrollbar */
#project-done {
  overflow-x: auto;
  width: 100%;
}
#project-done::-webkit-scrollbar {
  height: 16px;
  width: 100%;
}
@media screen and (max-width: 1600px) {
  #project-done::-webkit-scrollbar {
    height: 14px;
  }
}
#project-done::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8eddd;
}
#project-done::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
}

/* Scrollbar */
#small-scroll {
  overflow-y: auto;
}
#small-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#small-scroll::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8eddd;
}
#small-scroll::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.0509803922);
}

/*# sourceMappingURL=app.css.map */
