$primary-yellow: #FF9800;
$greenscale-light-green: #D8EDDD;
$secondary-orange: #F26722;
$yellowscale-light-yellow: #FFD768;
$yellowscale-light-yellow-2: #FFEC9F;
$yellowscale-light-yellow-3: #FFFCD5;
$secondary-red: #FF6047;
$secondary-purple: #454575;
$secondary-blue: #6080DD;
$primary-green: #00B26B;
$secondary-dark-brown: #3A3335;
$greenscale-secondary-green: #006638;
$greenscale-dark-green-60: #002916;
$greenscale-dark-green-80: #00140B;
$grayscale-white: #FFFFFF;
$grayscale-dark-gray: #252525;
$grayscale-black: #000000;
$grayscale-dim-white-80: #FFFFFFCC;
$grayscale-dim-white-60: #FFFFFF99;
$grayscale-dim-white-40: #FFFFFF66;
$grayscale-dim-white-20: #FFFFFF33;
$grayscale-dim-white-10: #FFFFFF1A;
$grayscale-dim-dark-80: #000000CC;
$grayscale-dim-dark-60: #00000099;
$grayscale-dim-dark-40: #00000066;
$grayscale-dim-dark-20: #00000033;
$grayscale-dim-dark-10: #0000001A;
$grayscale-dim-dark-5: #0000000D;
$secondary-light-gray: #E5E5E5;

