@use "color";
@use "typography";
@use "effect";
@use "mixin" as *;

.exam {
  background-image: url(/public/exam/bg2.webp);
  height: 100vh;

  background-position: center;
  position: relative;
  overflow: hidden;

  &-content {
    padding-top: 136px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    overflow: hidden;
    justify-content: center;

    @include maxw(1600) {
      gap: 60px;
      padding-top: 123px;
    }
  }

  &-left {
    margin-top: 80px;
    max-width: 422px;
    &-content {
      color: #454575;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%; /* 32px */

      padding: 32px;
      gap: 24px;
      border-radius: 16px;
      background: #d9d9d9;
      position: relative;

      & ul {
        list-style-type: circle;
        list-style-position: inside;
      }
    }
  }

  &-center {
    max-width: 502px;
    &-content {
      display: inline-flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 63.66%
      );
      fill: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(48px);
      border: 2px solid #f9e022;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 381px;

    &-content {
      display: inline-flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;

      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 63.66%
      );
      backdrop-filter: blur(48px);
      stroke-width: 1.8px;
      border-top-left-radius: 20px;

      border: 1.8px solid #d522f95a;
      border-bottom-right-radius: 20px;
    }
  }
}

.exam1 {
  &-header {
    height: 108px;
    padding: 0 48px;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  &-footer {
    height: 128px;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-num {
      display: flex;
      width: 56px;
      height: 56px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;

      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 24px */
      border-radius: 30px;
      border: 2px solid rgba(0, 0, 0, 0.4);
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      &.done {
        background: #ff9800;
        border-color: transparent;
        color: white;

        &:hover {
          color: white;
        }
      }
      &.active {
        border: 2px solid #ff9800;
        background: rgba(255, 152, 0, 0.1);
        color: #ff9800;

        &:hover {
          color: #ff9800;
        }
      }
    }
  }
}

.exam2 {
  background-image: url(/public/exam/bg1.webp);
  height: 100vh;
  position: relative;
  overflow: hidden;

  &-wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.85);

    @include maxw(1600) {
      transform: scale(0.75);
    }
  }
}

.exam3 {
  background-image: url(/public/exam/bg2.webp);
  height: 100vh;
  position: relative;
  overflow: hidden;

  &-content {
    padding-top: 136px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    overflow: hidden;
    justify-content: center;

    @include maxw(1600) {
      gap: 60px;
      padding-top: 123px;
    }
  }

  &-center {
    max-width: 520px;
    &-content {
      width: 100%;
      display: inline-flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 63.66%
      );

      fill: rgba(255, 255, 255, 0.01);
      backdrop-filter: blur(48px);
      border: 2px solid #f9e022;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
