@use "color";
@use "typography";
@use "effect";
@use "mixin" as *;

.exam1 {
  &-header {
    height: 108px;
    padding: 0 48px;
    display: grid;
    grid-template-columns: auto auto auto;

    @include maxw(1600) {
      height: 88px;
    }
  }

  &-content {
    // height: calc(100vh - 236px);
    padding: 32px 54px;
    overflow-y: hidden;
    background-image: url("/public/exam1/bg.webp");

    @include maxw(1600) {
      // height: calc(100vh - 176px);
      padding: 24px 46px;
    }
    @include maxw(1200) {
      // height: calc(100vh - 176px);
      padding: 16px 32px;
    }
  }

  &-footer {
    height: 128px;
    padding: 0 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include maxw(1600) {
      height: 88px;
      margin-bottom: 16px;
    }

    &-num {
      display: flex;
      padding: 0 16px;
      height: 48px;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      position: relative;

      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 24px */
      border-radius: 30px;
      border: 2px solid rgba(0, 0, 0, 0.4);
      color: rgba(0, 0, 0, 0.6);
      cursor: pointer;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }

      &.done {
        background: #ff9800;
        border-color: transparent;
        color: white;

        &:hover {
          color: white;
        }
      }
      &.active {
        border: 2px solid #ff9800;
        background: rgba(255, 152, 0, 0.1);
        color: #ff9800;

        &:hover {
          color: #ff9800;
        }
      }

      &.true {
        background: #00b26b;
        border: 3px solid transparent;
        color: white;

        &::after {
          content: "";
          background: url("/public/exam1/icons/true.png");
          width: 24px; /* Điều chỉnh kích thước */
          background-size: contain;
          height: 24px;
          position: absolute;
          bottom: -1px;
          border-radius: 100%;
          right: -1px;
        }

        &:hover {
          color: white;
        }
      }
      &.fail {
        background: #ff6047;
        border: 3px solid transparent;
        color: white;

        &::after {
          content: "";
          background: url("/public/exam1/icons/fail.png");
          width: 24px; /* Điều chỉnh kích thước */
          background-size: contain;
          height: 24px;
          position: absolute;
          bottom: -1px;
          border-radius: 100%;
          right: -1px;
        }

        &:hover {
          color: white;
        }
      }
      &.current {
        border: 3px solid white;
        outline: 2px solid #ff9800;
      }
    }
  }
}

#exam-scroll {
  position: relative;
  overflow-y: auto;
  padding-right: 12px;

  // Tùy chỉnh thanh cuộn
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: transparent;
    margin: 0 10px;
  }
}
