@use "color";
@use "typography";
@use "effect";
@use "mixin" as *;

/* Thanh phát audio giả lập */
.audio-player {
  display: flex;
  padding: 0px 16px;
  align-items: center;
  align-self: stretch;
  border-radius: 36px;
  border: 1px solid #e4e4e4;
  background: #fff;
  gap: 12px;
  height: 72px;
}
input[type="range"] {
  flex: 1;
  appearance: none;
  height: 6px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

/* Default (Paused) - Orange */
input[type="range"]::-webkit-slider-runnable-track {
  background: orange;
  height: 6px;
  border-radius: 5px;
}
input[type="range"]::-moz-range-track {
  background: orange;
  height: 6px;
  border-radius: 5px;
}

.playing input[type="range"]::-moz-range-track {
  background: green !important;
}

/* Thumb (Handle) */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: white;
  border: 3px solid orange;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]::-moz-range-thumb {
  width: 32px;
  height: 32px;
  background: white;
  border: 3px solid orange;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"].playing::-webkit-slider-thumb {
  border-color: green !important;
}

input[type="range"].playing::-moz-range-thumb {
  border-color: green !important;
}
.exam1 {
  &-zoom {
    @include maxw(1600) {
      zoom: 0.85;
    }
  }

  &-height {
    height: calc(100vh - 236px - 64px);

    @include maxw(1600) {
      height: calc(100vh - 176px - 48px);
    }
  }

  &-result {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    border-radius: 16px;
    border: 2px solid #00b26b;
    background: #e1f2e5;
    align-items: start;

    &-title {
      color: #3a3335;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 24px */
    }
    &-content {
      color: #00b26b;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%; /* 28px */
    }
  }

  &-content1 {
    & .draggable {
      display: flex;
      padding: 20px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      align-self: stretch;
      border-radius: 12px;
      background: #fff;
      height: 70px;
      width: 100%;
      box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset,
        0px 2px 2px 0px rgba(0, 0, 0, 0.25);

      color: var(--Secondary-Purple, #454575);
      text-align: center;
      font-family: Nunito;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 24px */

      transition: transform 0.2s ease-out;

      &.true {
        color: var(--Primary-Green, #00b26b);
        background: #ecfbe5;
        box-shadow: 0px -4px 0px 0px rgba(21, 156, 0, 0.1) inset,
          0px 2px 2px 0px rgba(21, 156, 0, 0.3);
      }
      &.fail {
        box-shadow: 0px -4px 0px 0px rgba(213, 28, 0, 0.1) inset,
          0px 2px 2px 0px rgba(213, 28, 0, 0.3);
        background: #fbe7e5;
        color: #e44825;
      }
    }

    & .draggable:active {
      cursor: grabbing;
    }

    & .drop-row {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    & .drop-label {
      color: var(--Secondary-Purple, #454575);
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      flex: none;
      line-height: 100%; /* 32px */
    }

    & .drop-zone {
      width: calc((300% + 128px - 96px) / 4);
      height: 70px;
      border-radius: 12px;
      background: #eaeaea;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1) inset;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }

    & .drop-zone:hover {
      background: #f0f0f0;
    }

    & .drop-zone.dragover {
      border-color: #007bff;
      background: #cce5ff;
    }

    & .draggable.dragging {
      opacity: 0.7;
      background-color: yellow;
    }

    & .drop-zone.dragover {
      background-color: #f0f0f0;
    }

    & .draggable.dragging {
      background: #ebf8ff;
      opacity: 0.4;
    }
  }

  &-content2 {
    overflow-y: auto;

    &-sentence {
      display: flex;
      align-items: center;
      gap: 24px;
      padding-right: 4px;
    }

    &-answer {
      color: var(--Secondary-Purple, #454575);
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 42px */
      flex: 1 1 0%;
    }

    &-question {
      width: 240px;
      height: 64px;
      border-radius: 12px;
      border: 4px solid #e4e4e4;
      background-color: white;
      padding: 0 20px;

      color: var(--Secondary-Purple, #454575);
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 100%; /* 28px */

      &:focus {
        stroke-width: 4px;
        border: 4px solid #454575;
        stroke: rgba(42, 80, 202, 0.15);
        caret-color: #454575;
        outline: 2px solid #7582f0;
      }

      &:focus-visible {
        outline: 4px solid #7582f0;
      }

      &:not(:placeholder-shown) {
        border: 4px solid #c8d5f1;
        background-color: #ebf8ff;
      }
      &.true {
        border: 4px solid #b6efaf;
        background-color: #ecfbe5;
        color: #00b26b;
      }
      &.fail {
        color: #e44825;
        border: 4px solid #f0b4ab;
        background-color: #fbe7e5;
      }
    }
  }
}
