@use "mixin" as *;
@use "color";

.slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  zoom: 0.85;
  @include maxw() {
    zoom: 0.65;
  }
}

.slider {
  display: flex;
  cursor: grab;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider:active {
  cursor: grabbing;
}

.slider,
.slide {
  user-select: none; /* Prevent text and image selection */
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  margin: auto;
  flex-shrink: 0;
  margin-right: 80px;
  height: 780px;
  position: relative;
}

.lesson-slide {
  margin: auto;
  flex-shrink: 0;
  margin-right: 40px;
  height: 600px;
  width: 320px;
  position: relative;
}

.slide:last-child {
  margin-right: 3rem;
}

.select-none {
  user-select: none;
}
.select-none-img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.home {
  background: linear-gradient(
    to top,
    #717bff 0%,
    #6d99e2 23%,
    #6abebf 56%,
    #67d4aa 83%,
    #67dda3 100%
  );
  height: 100vh;
  position: relative;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    @include maxw() {
      padding: 20px;
      zoom: 0.75;
    }

    &-info-box {
      display: flex;
      justify-content: end;
      background-color: transparent;
    }

    &-dropdown {
      border-radius: 20px;
      padding: 32px;
      top: 0 !important;
      right: 0 !important;
      width: max-content !important;
      // display: flex;
      @include maxw() {
        left: -682px !important;
      }

      &-avatars {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 4px;
      }
    }
  }
}

.line-to-bottom {
  position: absolute;
  top: 200px;
  left: 200px;
}

.lesson-line-to-bottom {
  position: absolute;
  top: 100px;
  left: 200px;
}

.line-to-top {
  position: absolute;
  bottom: 200px;
  left: 200px;
}
