@use "mixin" as *;
@use "color";
@use "effect";

.layout {
  background-color: #d8eddd;
  display: flex;
  height: 100vh;

  &-sidebar {
    width: 120px;
    padding-top: 40px;
    zoom: 0.85;

    @include maxw {
      zoom: 0.65;
    }

    &-item {
      text-decoration: none !important;
      color: color.$grayscale-dark-gray;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 120px;
      height: 120px;

      &:hover {
        color: color.$grayscale-dark-gray;
      }

      &.active {
        @extend .drop-shadow-button-d;
        color: color.$grayscale-white;
        background-color: color.$primary-green;
        &:hover {
          color: color.$grayscale-white;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex: 1 1 0%;
    margin: 20px 20px 20px 0;

    border-radius: 28px !important;
    background: linear-gradient(
        0deg,
        var(--Grayscale-Dim-Dark-5, rgba(0, 0, 0, 0.05)) 0%,
        var(--Grayscale-Dim-Dark-5, rgba(0, 0, 0, 0.05)) 100%
      ),
      var(--Grayscale-White, #fff);

    @include maxw {
      margin: 16px 16px 16px 0;
    }
  }
}

.parent-box {
  padding: 20px;
  border-radius: 20px;

  @include maxw {
    padding: 16px;
  }
}

.dashboard {
  display: flex;
  &-left {
    flex: 1 1 0%;
    // zoom: 0.82;

    // @include maxw {
    //   zoom: 0.62;
    // }
  }
  &-right {
    width: 560px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    // zoom: 0.9;

    &-content {
      padding: 20px;
    }

    // @include maxw {
    //   zoom: 0.7;
    // }
  }

  &-feedback {
    width: 1280px;
    max-height: calc(100vh - 420px);
    height: 100%;
    overflow-y: auto;

    @include maxw {
      max-height: calc(100vh - 314px);
      height: 100%;
    }

    &-layout {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 40px;
      row-gap: 20px;
    }
  }
}

.progress {
  border-radius: 20px;
  border: 1px solid var(rgba(0, 0, 0, 0.05));
  background: var(rgba(0, 0, 0, 0.05));
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5) inset;

  display: flex;
  height: 60px;
  padding: 4px 120px 4px 4px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  position: relative;

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    text-align: center;
    /* Heading/H3 */
    -webkit-text-stroke-width: 2;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 32px */

    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00000066;

    // text-shadow: 2px 0 #00000066, -2px 0 #00000066, 0 2px #00000066,
    //   0 -2px #00000066, 1px 1px #00000066, -1px -1px #00000066,
    //   -1px 1px #00000066, 1px -1px #00000066;
  }

  &-active {
    border-radius: 16px;
    background: color.$primary-yellow;

    width: 356px;
    height: 52px;
    flex-shrink: 0;

    /* Drop Shadow/Button D */
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset,
      0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 16px;
}

// .dashboard-zoom {
//   zoom: 0.84;
// }

// .chart-so-buoi-hoc {
//   height: 250px !important;
//   display: block !important;
//   box-sizing: border-box !important;
//   width: 100% !important;
// }

.combo-input {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 40px;
}

.avatar {
  &-rounded {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.image-teacher {
  height: calc(100vh / 0.84 - 476px);

  @include maxw() {
    height: calc(100vh / 0.65 - 476px);
  }
}

.certificate-wrapper-image {
  height: calc(100vh - 260px);

  @include maxw() {
    height: calc(100vh - 152px);
  }
}

.certificate-image {
  aspect-ratio: 843/632;
  object-fit: cover;
  border-radius: 18px;
  height: 100%;
}

.image-share {
  object-fit: cover;
  aspect-ratio: 1/1;
  @include maxw() {
    aspect-ratio: auto;
  }
}

#scroll-hide::-webkit-scrollbar {
  display: none;
}
