@use "mixin" as *;
@use "color";
@use "effect";


.chat-active::after {
  content: "";
  width: 8px; /* Size of the green dot */
  height: 8px; /* Size of the green dot */
  background-color: #00B26B; /* Green color for online status */
  border-radius: 50%; /* Makes it circular */
  position: absolute;
  bottom: 4px; /* Position at the bottom of the avatar */
  right: -12px; /* Position at the right of the avatar */
}

.parent-chat {
  max-height: calc(100vh - 120px);
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 20px;

  &-sidebar {
    width: 540px;
    @include maxw {
      width: 380px;
    }
    &-user-list {
      height: calc(100vh - 200px);
      overflow-y: auto;
    }
  }

  &-input {
    height: 60px;

    @include maxw {
      height: 54px !important;
    }
  }



  @include maxw {
    max-height: calc(100vh - 110px);
    overflow-y: auto;
  }

  &-wrapper {
    padding: 40px;
    @include maxw {
      padding: 0px;
    }
  }

  &-body {
    max-height: calc(100vh - 280px);
    height: 100%;
    overflow: auto;
    padding: 20px;
    @include maxw {
      max-height: calc(100vh - 274px);
    }
  }
}

#parent-chat-sidebar-user-list::-webkit-scrollbar {
  display: none;
}

.parent-chat-zoom {
  zoom: 0.84;

  @include maxw() {
    zoom: 0.8;
  }
}