@use "mixin" as *;
@use "color";
@use "effect";

.support-padding {
  padding: 40px;

  @include maxw {
    padding: 26px;
  }
}

.support-spacing {
  & > :not(:last-child) {
    margin-bottom: 40px;
  }

  @include maxw {
    & > :not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
.support-gap {
  gap: 40px;

  @include maxw {
    gap: 20px;
  }
}

.support-zoom {
  zoom: 0.9;

  @include maxw() {
    zoom: 0.74;
  }
}

.uk-accordion-title:before{
  background-image: url('../public/icons/arrow-down1.svg') !important;
}
.uk-open{
  .uk-accordion-title:before{
          background-image: url('../public/icons/arrow-up.svg')  !important;
  }
}

.faq-height {
  max-height: calc(100vh - 134px);
  height: 100%;
  overflow-y: auto;

  @include maxw {
    max-height: calc(100vh + 30px);
    height: 100%;
  }
}

#faq-height::-webkit-scrollbar {
  display: none;
}