@use "mixin" as *;
@use "color";
@use "effect";

.coming-class {
  overflow-y: auto;
  max-height: calc(100vh - 128px);
  padding-top: 40px;

  @include maxw() {
    max-height: calc(100vh - 106px);
    padding-top: 28px;
  }
}

.choose-package {
  overflow-y: auto;
  max-height: 100vh;
  padding-top: 40px;

  @include maxw() {
    max-height: calc(100vh + 86px);
    padding-top: 28px;
  }
}

#tab-coming-content::-webkit-scrollbar,
#tab-completed-content::-webkit-scrollbar,
#dashboard-feedback::-webkit-scrollbar,
#tab-canceled-content::-webkit-scrollbar {
  display: none;
}

.teacher-image {
  height: fit-content;
  width: fit-content;
  border-radius: 16px;
  border: 2px solid transparent; /* Move the border to the img element */
  transition: border-color 0.3s ease;
}

.teacher-image input[type="radio"] {
  display: none;
}

.teacher-image.active {
  border-color: #00b26b; /* Apply the border color to the img */
}

.teacher-time {
  background-color: #e5e5e5;
  color: #00000099;
  border-radius: 24px;
  width: 76px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

  &.active {
    background-color: #00b26b; /* Apply the border color to the img */
    color: white;
  }

  input[type="radio"] {
    display: none;
  }
}

.modal-link {
  text-decoration: underline !important;

  &:hover {
    color: #00b26b;
  }
}

#chon-goi-hoc::-webkit-scrollbar {
  display: none;
}
