@use "color";
@use "typography";
@use "effect";
@use "mixin" as *;

.project {
  background-color: color.$greenscale-light-green;
  height: 100%;
  width: 100%;
  padding: 0 80px;

  &-content {
    padding: 40px;
    border-radius: 20px;
    background-color: white;

    @include maxw() {
      padding: 30px;
    }
  }

  &-header {
    padding: 56px 0;
    display: flex;
    align-items: center;
    &-button {
      cursor: pointer;
    }
    &-tab {
      flex: 1 1 0%;
      display: flex;
      width: 100%;
      align-items: center;
      background-color: #fff;
      border-radius: 24px;
      height: 90px;
      padding: 8px;
      &-item {
        flex: 1 1 0%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: color.$grayscale-dark-gray;
        &-active {
          @extend .project-header-tab-item;
          background-color: color.$primary-green;
          border-radius: 20px;
          border-radius: 20px;
          color: white;
          box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset,
            0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
  &-info {
    &-tag {
      border-radius: 40px;
      background-color: white;
      height: 40px;
      padding: 12px;
      margin-right: 12px;
      color: color.$grayscale-dark-gray;
    }
  }
  &-body {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 40px;
    margin: 36px 0;
    @include maxw() {
      // gap: 20px;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  &-card {
    width: 100%;
    border-radius: 16px;
    padding: 8px;
    background-color: #fff;

    &-image {
      width: 100%;
      height: 292px;
      object-fit: cover;
    }

    &-status {
      width: 160px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 24px;
    }
    &-button {
      display: inline-flex;
      align-items: center;
      border-radius: 12px;
      width: fit-content;
      padding: 0;
      height: 42px;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid color.$primary-green;

      &-left-part {
        background-size: cover;
        padding: 0 8px;
        height: 100%;
        color: white;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }

      &-right-part {
        background-color: white;
        padding: 0 12px;
        color: color.$grayscale-dark-gray;
        flex: 1;
        height: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.project-upload {
  background: linear-gradient(
    to top,
    #717bff 0%,
    #6d99e2 23%,
    #6abebf 56%,
    #67d4aa 83%,
    #67dda3 100%
  );
  padding: 36px;
  @include maxw() {
    padding: 20px;
  }

  &-header {
    justify-content: space-between;
    height: 120px;

    @include maxw() {
      height: 92px;
    }
  }
  &-body {
    display: flex;
    align-items: center;
    gap: 40px;

    &-title {
      grid-template-columns: repeat(3, minmax(0, 1fr));
      display: grid;
      align-items: center;
    }

    &-left {
      flex: 1 1 0%;
      flex-direction: column;
      height: calc(100vh - 388px);
      @include maxw() {
        height: calc(100vh - 308px);
      }

      &-zone {
        border-radius: 40px;
        border: 2px dashed rgba(0, 0, 0, 0.2);
      }
    }
    &-right {
      flex: 1 1 0%;

      &-files {
        height: calc(100vh - 530px);
        overflow-y: scroll;

        @include maxw() {
          height: calc(100vh - 450px);
        }
      }

      &-card-upload {
        &-slider {
          height: 24px;
          padding: 2px;
          border-radius: 30px;
          border: 2px solid rgba(0, 0, 0, 0.1);
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }

  &-image {
    aspect-ratio: 843/632;
    object-fit: cover;
    border-radius: 18px;
    height: 100%;
  }
  &-image-oops {
    height: calc(100vh - 510px);
    object-fit: cover;

    @include maxw() {
      height: calc(100vh - 430px);
    }
  }
  &-wrapper-image {
    height: calc(100vh - 430px);

    @include maxw() {
      height: calc(100vh - 350px);
    }
  }
  // &-image {
  //   aspect-ratio: 843/632;
  //   height: calc(100vh - 430px);
  //   object-fit: cover;
  //   border-radius: 18px;

  //   @include maxw() {
  //     height: calc(100vh - 350px);
  //   }
  // }
}
