@use "color";
@use "typography";
@use "effect";
@use "mixin" as *;

.try-learning {
  background-image: url(/public/images/try-learning.svg);
  height: 100vh;
  position: relative;
}

.device-box {
  margin-bottom: 0;

  &.hidden {
    display: none;
  }
}

.lesson-modal {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px) !important;
}

.congrats-modal {
  height: calc(100vh - 200px);
  width: calc(100vw - 80px) !important;

  @include maxw() {
    height: calc(100vh - 120px);
    width: calc(100vw - 40px) !important;
  }

  &-wrapper {
    @include maxw() {
      padding: 20px !important;
    }
  }
}

/* Slideshow container */
.slideshow-container {
  height: calc(100vh - 240px);
  position: relative;
  margin: auto;
}

.lesson-slice {
  aspect-ratio: 16/9;
  // width: 100%;
  object-fit: cover;
  height: calc(100vh - 240px);
  border-radius: 24px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

.congrats {
  background-image: url(/public/images/try-learning.svg);
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: end;
  padding: 100px 120px 0 0;
  overflow: hidden;
  background-position: center;

  @include maxw() {
    padding: 40px 70px 0 0;
  }

  &-letter {
    width: fit-content;
    zoom: 0.82;
    position: relative;

    @include maxw() {
      zoom: 0.7;
    }

    @include maxw(780) {
      zoom: 0.7;
      width: 100%;

      background-image: url(/public/images/result1-bg-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      padding: 0 104px 40px;
    }

    &-wrapper {
      @include maxw(768) {
        padding-bottom: 0 !important;
      }
    }

    &-content {
      padding-top: 200px;
      @include maxw() {
        padding-top: 170px;
      }

      @include maxw(768) {
        padding-top: 107px;
      }

      @include minw(768) {
        position: absolute;
        left: calc(50% - var(--uk-position-margin-offset));
        --uk-position-translate-x: -50%;
        transform: translate(var(--uk-position-translate-x), 0);
        width: max-content;
        top: 0;
      }
    }

    &-tags {
      display: flex;

      & > :not(:last-child) {
        margin-right: 16px;
      }

      @include maxw(768) {
        display: block;

        & > :not(:last-child) {
          margin-right: 0;
          margin-bottom: 16px;
        }

        & > div {
          width: 100% !important;
        }
      }
    }
  }
}

.result-scroller section {
  min-height: 100%;
  padding: 10px;
}

.result-scroller section:nth-child(odd) {
  background-color: #ccc;
}
.result-scroller {
  // height: 300px;
  overflow-y: scroll;
  // scroll-snap-type: y mandatory;
}

.result-scroller section {
  scroll-snap-align: start;
}

.vocab-tag {
  color: #454575;
  text-align: center;
  padding: 0 20px;
  height: 44px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.1) inset,
    0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #0000000d;
  display: flex;
  align-items: center;
  margin: 4px 0;

  @include maxw(768) {
    font-size: 16px;
  }
}

.goal-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 20px;

  @include maxw(768) {
    gap: 8px;
    margin-bottom: 16px;
  }

  & > div {
    @include maxw(768) {
      padding: 8px;
    }
  }

  &-item {
    &-3 {
      grid-column: span 3 / span 3;
    }
    &-2 {
      grid-column: span 2 / span 2;
    }
  }
}

.goal-content-width {
  width: 670px;

  @include maxw() {
    width: 540px;
  }

  @include maxw(768) {
    width: 100%;
  }
}

.result-embed {
  @include maxw() {
    zoom: 0.8;
  }
  &-header {
    padding: 40px;
    @include maxw() {
      padding: 20px;
    }
  }
}
