.heading-h0 {
  font-size: 160px;
  font-weight: 900;
  line-height: 100%;
}

.heading-points-m {
  font-size: 80px;
  font-weight: 700;
  line-height: 100%;
}

.heading-h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
}

.heading-h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 100%;
}

.heading-h3 {
  font-size: 32px;
  font-weight: 800;
  line-height: 100%;
}

.heading-h4 {
  font-size: 28px;
  font-weight: 800;
  line-height: 100%;
  font-family: Nunito;
}

.button-l {
  font-size: 24px;
  font-weight: 800;
  line-height: 100%;
}

.button-m {
  font-size: 20px;
  font-weight: 800;
  line-height: 100%;
}

.button-s {
  font-size: 18px;
  font-weight: 800;
  line-height: 100%;
}

.button-xs {
  font-size: 16px;
  font-weight: 800;
  line-height: 100%;
}

.body-l {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.body-m {
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.body-s {
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.body-xs {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.body-xxs {
  font-size: 14px;
  font-weight: 500;
}

.caption-l {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
}

.caption-m {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.caption-s {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.caption-xs {
  font-size: 16px;
  font-weight: 700;
}
.caption-xxs {
  font-size: 14px;
  font-weight: 700;
}

.text-40 {
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
}

.game-b-l {
  -webkit-text-stroke-width: 8;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
}
