.chip-h0 {
    font-size: 280px;
    font-weight: bold;
    line-height: 100%;
}

.chip-h1 {
    font-size: 100px;
    font-weight: bold;
    line-height: 100%;
}

.chip-h2 {
    font-size: 80px;
    font-weight: bold;
    line-height: 100%;
}

.chip-h3 {
    font-size: 60px;
    font-weight: bold;
    line-height: 100%;
}

.chip-h4 {
    font-size: 48px;
    font-weight: bold;
    line-height: 100%;
}

.button-l {
    font-size: 44px;
    font-weight: bold;
    line-height: 100%;
}

.button-m {
    font-size: 36px;
    font-weight: bold;
    line-height: 100%;
}

.button-s {
    font-size: 32px;
    font-weight: bold;
    line-height: 100%;
}

.button-xs {
    font-size: 28px;
    font-weight: bold;
    line-height: 100%;
}

.body-l {
    font-size: 44px;
    font-weight: light;
    line-height: 100%;
}

.body-m {
    font-size: 36px;
    font-weight: light;
    line-height: 100%;
}

.body-s {
    font-size: 32px;
    font-weight: light;
    line-height: 100%;
}

.body-xs {
    font-size: 28px;
    font-weight: light;
    line-height: 100%;
}

.caption-l {
    font-size: 44px;
    font-weight: regular;
    line-height: 100%;
}

.caption-m {
    font-size: 36px;
    font-weight: regular;
    line-height: 100%;
}

.caption-s {
    font-size: 32px;
    font-weight: regular;
    line-height: 150%;
}

.caption-xs {
    font-size: 28px;
    font-weight: regular;
    line-height: 150%;
}
