@use "color";
@use "reset";
@use "mixin" as *;
@use "auth";
@use "typography";
@use "effect";
@use "common";
@use "class";
@use "project";
@use "teacher";
@use "lesson";
@use "home";
@use "parent-dashboard";
@use "parent-class";
@use "progress";
@use "share";
@use "parent-study-package";
@use "parent-support";
@use "parent-chat";
@use "try-learning";

html {
  scroll-behavior: smooth;
  font-family: Nunito;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Nunito;
}

/* Scrollbar */
#project-done,
#certificate {
  overflow-x: auto; // Chỉ hiển thị thanh cuộn ngang khi nội dung rộng hơn phần tử
  width: 100%;
  // Tùy chỉnh thanh cuộn
  &::-webkit-scrollbar {
    height: 16px; // Chiều cao thanh cuộn ngang
    width: 100%;

    @include maxw() {
      height: 14px;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d8eddd;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #0000000d;
  }
}

/* Scrollbar */
#small-scroll {
  overflow-y: auto; // Chỉ hiển thị thanh cuộn khi nội dung vượt quá chiều cao cố định

  // Tùy chỉnh thanh cuộn
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #d8eddd;
  }

  // &::-webkit-scrollbar-thumb:hover {
  //   background-color: blue;
  // }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #0000000d;
  }
}

#scroll-hide::-webkit-scrollbar {
  display: none;
}
