@use "color";
@use "reset";
@use "auth";
@use "typography";
@use "effect";
@use "common";
@use "class";
@use "project";
@use "teacher";
@use "lesson";

html {
  scroll-behavior: smooth;
  font-family: Nunito;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: Nunito;
}

/* Scrollbar */
#project-done::-webkit-scrollbar {
  border-radius: 0;
  width: 20px;
  height: 20px;
}

#project-done::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d8eddd;
}

// ::-webkit-scrollbar-thumb:hover {
//   border-radius: 20px;
//   background-color: blue;
// }

#project-done::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #0000000d;
}
